body {
    padding: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    height: 70vh;
    padding: 10px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#form_container {
    border: 2px solid black;
}

input {

    border: none;
    border-bottom: 1px solid #000000;
    justify-content: center;



}

label {
    border-bottom: 1px solid #000000;
}






















/* form */